/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html {
    /* 10px if the browser was 16px*/
    /* 1rem === 10px @ medium browser settings */
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 75%;
}


section {
    
}

header {

}

main {

}

footer {

}

#nav-bar {
    background-color: yellow;
    width: 100%;
}

#nav-bar a {
    font-size: 2.0rem;
    text-decoration: none;
    color: blue;
    margin: 20px 15px;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.0rem;
}

h3 {
    font-size: 2.3rem;
}

p {
    font-size: 1.8rem;
}

.headshot-image {
    width: 125px;
    height: 145px;
    border-radius: 50%;
}

.project-image {
    width: 300px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid green;
}

.footer-ul a {
    text-decoration: none;
    color: black;
}

.fa-twitter, .fa-github, .fa-linkedin-in {
    font-size: 3.5rem;
    margin: 20px 10px;
}


.fa-twitter {
    color:rgb(34,179,235);
}

.fa-linkedin-in {
    color: rgb(0,120,187);
}

