/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 10px if the browser was 16px*/
    /* 1rem === 10px @ medium browser settings */
    font-size: 62.5%;
    background-color: gray;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 100%;
}

header {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin-bottom: 50px;
    text-align: center;
}

#footer p {
    color: white;
}

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: yellow;
    padding-right: 40px;
}

#navbar a {
    font-size: 2.0rem;
    text-decoration: none;
    color: blue;
    margin: 20px 15px;
}

#welcome-section, #about-me, #projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

#welcome-section {
    height: 100vh;
}

#about-me {

}

#projects {
    width: 65%;
    border-radius: 5px;
    padding-bottom: 30px;
    background-color: gray;
}

h1, h2, h3, h4 p {
    color: yellow;
}

h1 {
    width: 100%;
    font-size: 5.5rem;
    line-height: 1.5;
}

h2 {
    font-size: 4.0rem;
    line-height: 1.5;
}

h3 {
    font-size: 3.3rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 2.5rem;
}

p {
    font-size: 2.0rem;
}

.welcome-top-container {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.welcome-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.welcome-bottom-text-container {
    display: flex;
    flex-direction: column;
}

.about-me-top-container {

}

.about-me-bottom-container {
    background-color: white;
    border-radius: 5px;
    width: 65%;
    padding: 15px 20px;
    margin-top: 20px;
}

.projects-heading {
    color: orange;
    padding-top: 20px;
}

.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.project-tile p {
    color: pink;
}

.project-title-heading {
    color: yellow;
    margin-top: 20px;
}

.headshot-image {
    width: 250px;
    height: 290px;
    border-radius: 50%;
    margin: 0 30px;
}

.project-image {
    width: 600px;
    height: 325px;
    border-radius: 5px;
    border: 3px solid orange;
}

.footer-ul a {
    text-decoration: none;
    color: black;
}

.fa-twitter, .fa-github, .fa-linkedin-in {
    font-size: 3.5rem;
    margin: 20px 10px;
    color: white;
}








/*CSS rules for mobile*/
@media (max-width: 500px) {

    body {
        width: 100%;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 275px;
    }

    h1 {
        width: 75%;
        font-size: 3.8rem;
        font-style: italic;
    }

    h2 {
        font-size: 3.0rem;
        font-style: italic;
    }

    h3 {
        font-size: 2.5rem;
        font-style: italic;
    }

    h4 {
        font-size: 2.2rem;
        font-style: italic;
    }

    #navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;
        width: 100%;
        padding: 30px 0px 0px 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #navbar a {
        font-size: 3.5rem;
        line-height: 1.0;
    }

    #welcome-section {
        margin-bottom: 100px;
    }

    .welcome-top-container {
        flex-direction: column;
        align-items: center;
    }

    .welcome-bottom-container {
        flex-direction: column;
        text-align: center;
    }

    .headshot-image {
        width: 300px;
        height: 350px;
        border-radius: 50%;
        margin: 20px 30px;
    }

    .about-me-bottom-container {
        width: 85%;
    }

    #projects {
        width: 85%;
        padding: 0 20px;
        text-align: center;
    }

    .project-image {
        width: 275px;
        height: 160px;
        border-radius: 5px;
        border: 2px solid purple;
    }

}
